<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>X10 Pyro</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="static/lib/bootstrap-5.0.2-dist/css/bootstrap.min.css">
    <script type="text/javascript" src="static/pyro.js"></script>

    <link rel="stylesheet" href="static/pyro.css">

</head>

<body onload="body_loaded()">
    <br>
    <div id="house-selector" class="left">
        House: 
        <select id="current-house">
            <option value="a">A</option>
            <option value="b">B</option>
            <option value="c">C</option>
            <option value="d">D</option>
            <option value="e">E</option>
            <option value="f">F</option>
            <option value="g">G</option>
            <option value="h">H</option>
            <option value="i">I</option>
            <option value="j">J</option>
            <option value="k">K</option>
            <option value="l">L</option>
            <option value="m">M</option>
            <option value="n">N</option>
            <option value="o">O</option>
            <option value="p">P</option>
        </select>
    </div>
    <!-- <h1 align="center">X10 <i>Pyro</i></h1> -->
    <div id="blinker"></div>
    <br>
    <br>

    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script> -->
    <!-- <script src="static/lib/bootstrap-5.0.2-dist/js/bootstrap.js"></script> -->

    <table width="100%">

        {% for device_number in device_number_list %}
        <tr>
            <td class="align-self-center first-column">
                {{ device_number }}. 
            </td>
            <td id="device_{{ device_number }}_name", class="align-self-center" contenteditable="true">
                Device
            </td>
            <td class="text-end">
                <button type="button" class="btn btn-primary v-padded h-padded" onclick="var selector = document.getElementById('current-house'); var selected_value = selector.options[selector.selectedIndex].value; turn_on(selected_value, {{ device_number }});">ON</button>
                <button type="button" class="btn btn-secondary v-padded h-padded" onclick="var selector = document.getElementById('current-house'); var selected_value = selector.options[selector.selectedIndex].value; turn_off(selected_value, {{ device_number }});">OFF</button>
                <br>
                <button type="button" class="btn btn-info btn-sm v-padded h-padded" onclick="var selector = document.getElementById('current-house'); var selected_value = selector.options[selector.selectedIndex].value; dim_up(selected_value, {{ device_number }});">&#9650;</button>
                <button type="button" class="btn btn-info btn-sm v-padded h-padded" onclick="var selector = document.getElementById('current-house'); var selected_value = selector.options[selector.selectedIndex].value; dim_down(selected_value, {{ device_number }});">&#9660;</button>
            </td>
        </tr>
        {% endfor %}

    </table>
    <br>
    <div id="last-output" align="center"> </div>
    <br>
    <br>
    <div align="center">
        <a href="/static/pyro.css">CSS</a>
        <br>
        <a href="/static/pyro.js">JS</a>
    </div>
</body>

</html>

