<!DOCTYPE html>

<!-- X10 Pyro Remote UI - main screen -->

<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="static/pyro.css">
        <script type="text/javascript" src="static/pyro.js"></script>

        <title>X10 Pyro Remote</title>

    </head>

    <body>
        <h1 align="center">X10 Pyro</h1>
        <table width="100%">

            <tr class="bordered">
                <td>
                    1.
                </td>
                <td>
                    Living Room Lights 
                </td>
                <td class="right">
                    <input id="clickMe" class="list-button on-button" type="button" value="ON" onclick="turn_on();" />
                    <input id="clickMe" class="list-button off-button" type="button" value="OFF" onclick="turn_off();" />
                </td>
            </tr>

            <tr class="bordered">
                <td>
                    2.
                </td>
                <td>
                    Other Lights 
                </td>
                <td class="right">
                    <input id="clickMe" class="list-button on-button" type="button" value="ON" onclick="turn_on();" />
                    <input id="clickMe" class="list-button off-button" type="button" value="OFF" onclick="turn_off();" />
                </td>
            </tr>

        </table>
    </body>

</html>

