<!DOCTYPE html>

<!-- X10 Pyro Remote UI - main screen -->

<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="static/pyro.css">
        <script type="text/javascript" src="static/pyro.js"></script>

        <title>X10 Pyro Remote</title>

    </head>

    <body>
        <h1 align="center">X10 Pyro</h1>
        <br>
        <div class="grid-line">

            <div class="">
                <div class="label">
                    Living Room Lights 
                </div>
            </div>

            <div class="right">
                <input id="clickMe" class="button on-button" type="button" value="ON" onclick="turn_on();" />
                <input id="clickMe" class="button off-button" type="button" value="OFF" onclick="turn_off();" />
            </div>

        </div>  <!-- class="grid-line" -->
    </body>

</html>

