<!DOCTYPE html>

<!-- X10 Pyro Remote UI - main screen -->

<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" href="static/pyro.css">
        <script type="text/javascript" src="static/pyro.js"></script>

        <title>X10 Pyro Remote</title>

    </head>

    <body>
        <h1 align="center">X10 Pyro</h1>
        <div class="line">
            <h2 align="center">Living Room Lights </h2>
            <p align="center">
                <input id="clickMe" class="button on-button" type="button" value="ON" onclick="turn_on();" />
                <input id="clickMe" class="button off-button" type="button" value="OFF" onclick="turn_off('c', 1);" />
            </p>
        </div>
    </body>

</html>

